* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: TTHoves;
}

@font-face {
  src: url("./fonts/TTHoves-Regular.ttf");
  font-family: TTHoves;
}

.container {
  max-width: 1200px;
  margin: auto;
}
.menu {
  padding: 25px 10px;
  font-size: 14px;
  line-height: 14px;
  display: flex;
  justify-content: space-between;
  
}
.menu ul {
  display: flex;
  gap: 24px;
  font-weight: 400;
}

.forumabout {
  display: flex;  
  justify-content: space-between;
}

.activeblock {
  display: none;
}

.active {
  display: block;
}

.menu nav {
  display: flex;
  gap: 24px;
  max-width: 520px;
  height: 24px;
  justify-content: right;
  font-weight: 600;
}

.menu li {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}

.basic2 a {
  color: #a29f9d;
  text-decoration: none;
}
.basic3 a{
  color: black;
  text-decoration: none;
}
.right a {
  text-decoration: none;
  color: black;
}
.basic1 {
  width: 170px;
}

.basic2 {
  display: flex;
  align-items: center;
  padding: 0 10px;
  
}
.basic3 {
  font-weight: 600;
  display: flex;
  align-items: center;
  padding: 0 10px;
}
.basic {
  display: flex;
}

.line {
  width: 0.5px;
  height: 12px;
  margin-top: 10px;
  background-color: #a29f9d;
}

.header {
  display: flex;
  justify-content: space-between;
  max-width: 1208px;

}

.fontpictxt {
  display: flex;
}

.learn {
  max-width: 470px;
  margin: auto 0;
  padding: 0 10px;
}
.learn h2 {
  max-width: 504px;
  font-size: 56px;
  font-weight: 600;
  line-height: 100%;

}
.learn p {
  padding: 24px 0;
}
.order {
  height: 56px;
  width: 144px;
  padding: 16px 32px;
  border-radius: 16px;
  background-color: black;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  border: none;
  outline: none;
}

.order:hover {
  background-color: #202224;
  color: #fff;
}
.transferleft {
  height: 48px;
  min-width: 48px;
  border-radius: 50%;
  border: none;
  outline: none;
  display: flex;
  align-self: center;
  background-color: #f1f6ff;
}
.transferright {
  height: 48px;
  min-width: 48px;
  border-radius: 50%;
  border: none;
  outline: none;
  display: flex;
  align-self: center;
  background-color: #f1f6ff;
}
.transferleft img {
  margin-top: 18px;
  margin-left: 20px;
}
.transferright img {
  margin-top: 18px;
  margin-left: 20px;
}

.infor {
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
  padding: 60px 0;
  display: grid;
  grid-template-columns: repeat(4, 230px);
  justify-content: space-between;
}

.card-one {
  background-color: #f1f6ff;
  width: 230px;
  height: 320px;
  border-radius: 40px;
  position: relative;
  background-image: url("./photos/stul.png");
  background-repeat: no-repeat;
}

.card-two {
  background-color: #f1f6ff;
  width: 230px;
  border-radius: 40px;
  position: relative;
  background-image: url("./photos/Mask\ Group.png");
  background-repeat: no-repeat;
}

.card-three {
  background-color: #f1f6ff;
  width: 230px;
  border-radius: 40px;
  position: relative;
  background-image: url("./photos/shake.png");
  background-repeat: no-repeat;
}

.card-four {
  background-color: #f1f6ff;
  width: 230px;
  border-radius: 40px;
  position: relative;
  background-image: url("./photos/delivery.png");
  background-repeat: no-repeat;
}

.infor p {
  width:  176px;
  font-size: 24px;
  font-weight: 600;
  line-height: 27.6px;
  margin-top: 32px;
  margin-left: 32px;
  

  color: #202224;
  width: 176px;
}

.conven {
  padding: 50px 0;
  display: grid;
  grid-template-columns: 280px 280px 280px;
  justify-content: space-between;
}

.conven h2 {
  font-size: 20px;
  max-width: 232px;
  height: 24px;
  margin-top: 10px;
}

.conven p {
  max-width: 280px;
  height: 68px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #a29f9d;
  padding: 10px 0;
}

.row {
  display: flex;
  justify-content: space-around;
}

.lang {
  max-width: 280px;
  height: 264px;
  margin-bottom: 48px;
}

.lang img {
  padding-bottom: 24px;
}

.list {
  max-width: 1208px;
  margin: auto;
  flex-wrap: wrap;
  display: grid;
  justify-content: space-around;
  grid-template-columns: 376px 376px 376px;
}
.common {
  max-width: 376px;
  height: 160px;
  margin-top: 48px;
  display: flex;
}

.texts {
  max-width: 232px;
  height: 136px;
  margin-top: 24px;
  margin-left: 24px;
}

.texts h2 {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  width: 140px;
}

.also {
  width: 115px;
  height: 44px;
  border-radius: 16px;
  background-color: #292929;
  color: #fff;
  position: relative;
  top: -70px;
  border: none;
  outline: none;
  opacity: 0;
  transition: 1s;
}


.texts .comontxt {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #a29f9d;
  max-width: 200px;
  height: 64px;
  margin-top: 16px;
}

.common:hover .comontxt {
  opacity: 0;
}
.common:hover .also{
  opacity: 1;
}

.these {
  display: flex;
  justify-content: center;
  padding: 48px 0;
}
.see {
  max-width: 196px;
  height: 56px;
  padding: 16px 32px;
  border-radius: 16px;
  border: none;
  outline: none;
  font-size: 16px;
  width: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.see:hover {
  background-color: #292929;
  color: #fff;
}

.course {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 48px 5px;
  row-gap: 30px;
}

.mode {
  display: flex;
}

.forum {
  padding: 16px 12px;
  font-size: 24px;
  font-weight: 600;
}

.type1 {
  width: 272px;
  height: 540px;
  border-radius: 48px;
  background-color: #ffedd4;
  position: relative;
}
.type2 {
  width: 272px;
  height: 540px;
  border-radius: 48px;
  background-color: #dededd;
}
.type3 {
  width: 272px;
  height: 540px;
  border-radius: 48px;
  background-color: #fff1bf;
}

.type4 {
  width: 272px;
  height: 540px;
  border-radius: 48px;
  background-color: #d2f5ff;
}

.pics {
  border-radius: 50%;
  background-color: #fff;
  width: 64px;
  height: 64px;
  position: relative;
  margin: 32px 0 0 32px;
}

.pics img {
  padding: 12px;
}

.abouttype {
  width: 164px;
  height: 176px;
  line-height: 30px;
  font-size: 16px;
  font-weight: 400;
  margin-left: 20px;
  margin-top: 20px;
}

.abouttxt ul {
  margin-left: 30px;
}

.price p {
  width: 155px;
  height: 24px;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.sumunderline p {
  font-size: 24px;
  font-weight: 400;
  color: #707070;
  width: 120px;
  height: 24px;
  margin-top: 8px;
  margin-left: 5px;
  text-decoration-line: line-through;
}

.realsum {
  display: flex;
  width: 200px;
  height: 40px;
  font-weight: 500;
  font-size: 28px;
}
.realsum h3 {
  min-width: 120px;
}
.realsum p {
  margin-top: 12px;
  margin-left: 5px;
  font-size: 16px;
  width: 40px;
  height: 24px;
  display: flex;
  align-items: flex-end;
}

.guy {
  margin-left: 15px;
  padding: 40px 0;
}
.buy {
  height: 56px;
  width: 176px;
  padding: 16px 48px;
  border-radius: 16px;
  outline: none;
  font-size: 16px;
  font-weight: 400;
}

.buy:hover {
  background-color: #202224;
  color: #fff;
}

.connectingabout {
  max-width:1200px;
  display: flex;
  justify-content: space-between;
  padding-top: 48px;
  padding-bottom: 120px;
}

.office {
  max-width: 590px;
  display: flex;
  gap: 40px;
  padding-bottom: 40px;
}

.street {
  width: 272px;
  height: 80px;
}

.address {
  max-width: 590px;
  margin-top: 48px;
}

.address h3 {
  width: 272px;
  font-size: 20px;
  margin-top: 12px;
}

.address p {
  font-size: 16px;
  font-weight: 400;
  color: #a29f9d;
}

.map {  
  max-width: 590px;
  height: 320px;
}
.map iframe {
  width: 100%;
  height: 100%;
  border-radius: 48px;
  border: none;
}

@media only screen and (max-width: 1024px) {
  .container {
   max-width: 900px;
  }
  
  .header {
    padding: 0 20px;
    margin: auto;
  }
  .forumabout {
    border-left: 1px solid #a29f9d;
    display: block;
    padding: 0;
  }
 
  .line {
    display: none;
  }

  .learn {
    margin-bottom: 20px;
    margin-left: 30px;
    padding-left:40px;
  }
  .learn h2{
    font-size: 48px;  
  }
  
  .man{
    max-width: 390px;
    max-height: 360px;  
  } 

  .man img {
    width: 390px;
  }

  .conven {
    padding: 0 10px;
  }

  .infor {
    max-width: 900px;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(4,200px);
    justify-content: space-between;   
    margin: 0 auto;
  }
  .infor p {
    margin-top: 20px;
    margin-left: 20px;
  }
  .card-one { 
    width: 200px;
    height: 314px;
  }

  .card-two {
    width: 200px;
    height: 314px;
  }

  .card-three {
    width: 200px;
    height: 314px;
 
  }
  .card-four {
    width: 200px; 
    height: 314px;
  }

  .list {
    display: grid;
    justify-content: space-around;
    grid-template-columns: 376px 376px;
  }

  .discount {
    max-width: 800px;
    margin: 0 auto;
  }

  .course {
    justify-content: center;
    gap: 30px;
  }

  .connectingabout {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
  }

  .address {
    max-width: 510px;
  }

  .office h3 {
    width: 250px;
  }

}

@media only screen and (max-width:1200px) {
  
  .list {
    display: grid;
    grid-template-columns: 376px 376px;
    justify-content: space-around;
  }
}
@media only screen and (max-width: 900px) {
  .container {
    max-width: 768px;
  }
  .infor {
    display: grid;
    grid-template-columns: repeat(3,230px);
    row-gap: 30px ;
  }

  .conven {
    display: grid;
    grid-template-columns: 280px 280px;
    justify-content: space-around ;
    margin: 0 auto;

  }

}
@media only screen and (max-width: 768px) {
  .container {
    max-width: 600px;
  }
  .right {
    display: none;
  }

  .forumabout {
    display: flex;
    border: none;
  }
  .fontpictxt {
    flex-direction: column-reverse;
  }
  .line {
    width: 0.5px;
    height: 12px;
    margin-top: 10px;
    background-color: #a29f9d;
    display: block;
  }
  .infor {
    display: grid;
    grid-template-columns: 272px 272px;
    justify-content: space-between;
    max-width: 600px;
    column-gap: 0px;
    flex-wrap: wrap;
  }
  .card-one {
    width: 272px;
    height: 326px;
  } 
  .card-two {
    width: 272px;
    height: 326px;
  } 
  .card-three {
    width: 272px;
    height: 326px;
  } 
  .card-four {
    width: 272px;
    height: 326px;
  } 
  .conven {
    display: grid;
    grid-template-columns: 280px 280px;
    justify-content: center;
    column-gap: 20px;
    padding: 48px 0;

  }
  .lang {
    text-align: center;
  }
  .texts h2 {
    width: 240px;
    padding-bottom: 0;
  }
  .texts .comontxt{
    font-size: 18px;
    line-height: 120%;
  }
  .also {
    display: block;
    width:80px;
    height: 30px;
    font-size: 11px;
    position: relative;
    left: 60px;
  }
  .list{
    margin: 0 auto;
    display: grid;
    grid-template-columns: 376px;
  }

  .connectingabout{
      display: block;
  }
  .address {
    width: 510px;
    display: block;
    margin: 0 auto;
  }

  .office {
    max-width: 600px;
    margin: auto;
  }

  .map iframe {
    max-width: 600px;
    margin: auto 0;
  }
}

@media only screen and (max-width:541px) {
  .container {
    max-width: 444px;
  }
  .forumabout { 
    display: none;
  }
 
  .transferleft {
    display: none;
  }
  .transferright {
    display: none;
  }
  .infor {
    display: grid;
    grid-template-columns: 272px;
    justify-content: center;
  }
  .conven {
    width: 280px;
    display: grid;
    grid-template-columns: 280px;
    justify-content: center;
    text-align: center;
  }
  .connectingabout {
    max-width: 425px;
    margin: 0 auto;
  }
  .address {
    max-width: 335px;
  }
  .street {
    width: 335px;
  }
  .street h3 {
    width: 335px;
  }
  .office {
    display: block;
    
}

@media only screen and (max-width: 426px) {
  .container {
      max-width: 375px;
      margin: 0 auto;
  }
  .header{
    width: 300px;
    padding: 0;
  }

  .man img{
    max-width: 300px;
    height: 280px;
    
  }

  .infor {
    display: grid;
    grid-template-columns: 240px;
    justify-content: center;
  }
  .learn {
    max-width: 300px;
    padding: 0;
  }
  .learn h2 {
    font-size: 27px;
    width: 300px;
   padding: 0;
  }

  .conven {
    width: 280px;
    display: grid;
    grid-template-columns: 280px;
    justify-content: center;
    text-align: center;
  }
  
  .course {
    width: 272x;
    display: grid;
    grid-template-columns: 272px;
    justify-content: center;
  }
  .discount {
    width: 272px;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
  }

  .texts h2 {
    max-width: 170px;
  }
  .texts .comontxt {
    font-size: 16px;
  }

  .connectingabout {
    width: 375px;
   
  }
  .map{
    max-width:375px;
    margin: auto;
  }
  
}
html, body, #map-canvas {
  height: 100%;
  margin: 0px;
  padding: 0px
}

@media only screen and (max-width:376px) {
  .container {
    max-width: 334px;
    margin: 0 auto;

  }
  .infor {
    display: grid;
    grid-template-columns: 272px;
    justify-content: center;
  }

  .list {
    display: grid;
    grid-template-columns: 334px;
    justify-content: center;
  }

  .office {
    max-width: 320px;
    margin: 0 auto;
  }
}

@media only screen and (max-width:321px) {
  .container{
    width: 294px;
    margin: 0 auto;
  }
  .header{
    max-width: 294px;
  }
  .fontpictxt {
    width: 294px;
  }
  .learn {
    max-width: 294px;
    margin: 0 auto;
  }
  .man img {
    max-width: 236px;
    height: 220px;

  }
  .learn h2 {
    width: 236px;
  }
  .list {
    display: grid;
    grid-template-columns: 294px;
    justify-content: center;
  }
  .texts {
    width: 150px;
  }
  .texts h2  {
    width: 150px;
  }
  .connectingabout {
    width: 294px;
    margin: 0 auto;
  }
  .address {
    width: 295px;
  }
  .street {
    width: 295px;
  }
  .street h3 {
    width: 295px;
  }
}