* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: TTHoves;
}

@font-face {
  src: url("./fonts/TTHoves-Regular.ttf");
  font-family: TTHoves;
}

.container {
  max-width: 1208px;
  margin: auto;
  flex-wrap: wrap;
}
.menu {
  padding: 25px 10px;
  font-size: 14px;
  line-height: 14px;
  display: flex;
  justify-content: space-between;
}
.menu ul {
  display: flex;
  gap: 24px;
  font-weight: 400;

}

.forumabout {
  display: flex;

  justify-content: space-between;
}


.activeblock {
  display: none;
}

.active {
  display: block;
}

.menu nav {
  display: flex;
  gap: 24px;
  max-width: 520px;
  height: 24px;
  justify-content: right;
  font-weight: 600;
}

.menu li {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}

.basic1 {
  width: 170px;
}

.basic2 {
  color: #a29f9d;
  display: flex;
  align-items: center;
  padding: 0 10px;
}
.basic3 {
  font-weight: 600;
  display: flex;
  align-items: center;
  padding: 0 10px;
}
.basic {
  display: flex;
}

.line {
  width: 0.5px;
  height: 12px;
  margin-top: 10px;
  background-color: #a29f9d;
}

.header {
  display: flex;
  margin: auto;
  justify-content: space-between;
  
}

.fontpictxt {
  display: flex;
}
@media (max-width:768px) {
  .fontpictxt {
    flex-direction: column-reverse;

  }
  .sectiontxt {
    display: block;
    margin-top: 30px;
    
  }
  .paragrf {
    font-weight: 500;
    font-size: 40px;
    /* width: 250px; */
  }

  .learn {
    padding-left:40px;
  }
  .man img {
    width: 390px;
  }
}


.learn {
  max-width: 470px;
  margin: auto 0;
  padding: 0 10px;
}
.learn h2 {
  max-width: 504px;
  font-size: 56px;
  font-weight: 600;
  line-height: 100%;
  align-items: center;
}
.learn p {
  padding: 24px 0;
}
.order {
  height: 56px;
  width: 144px;
  padding: 16px 32px;
  border-radius: 16px;
  background-color: black;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  border: none;
  outline: none;
}

.order:hover {
  background-color: #202224;
  color: #fff;
}
.transferleft {
  height: 48px;
  min-width: 48px;
  border-radius: 50%;
  border: none;
  outline: none;
  display: flex;
  align-self: center;
  background-color: #f1f6ff;
}
.transferright {
  height: 48px;
  min-width: 48px;
  border-radius: 50%;
  border: none;
  outline: none;
  display: flex;
  align-self: center;
  background-color: #f1f6ff;
}
.transferleft img {
  margin-top: 18px;
  margin-left: 20px;
}
.transferright img {
  margin-top: 18px;
  margin-left: 20px;
}

.aboutitemsinfor {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 60px 0;
}

.card-one {
  background-color: #f1f6ff;
  width: 240px;
  height: 320px;
  padding: 32px 0px 234px 32px;
  border-radius: 40px;
  position: relative;
  background-image: url("./photos/stul.png");
  background-repeat: no-repeat;
}

.card-two {
  background-color: #f1f6ff;
  width: 240px;
  padding: 32px 64px 234px 32px;
  border-radius: 40px;
  position: relative;
  background-image: url("./photos/Mask\ Group.png");
  background-repeat: no-repeat;
}

.card-three {
  background-color: #f1f6ff;
  width: 240px;
  padding: 32px 64px 234px 32px;
  border-radius: 40px;
  position: relative;
  background-image: url("./photos/shake.png");
  background-repeat: no-repeat;
}

.card-four {
  background-color: #f1f6ff;
  width: 240px;
  padding: 32px 64px 234px 32px;
  border-radius: 40px;
  position: relative;
  background-image: url("./photos/delivery.png");
  background-repeat: no-repeat;
}

.infor p {
  font-size: 24px;
  font-weight: 600;
  line-height: 27.6px;
  margin: 0;
  color: #202224;
  width: 176px;
}

.pic1 {
  position: relative;
  bottom: 200px;
}

.convenience {
  font-size: 28px;
  font-weight: 400;
  color: #202224;
}

.conven {
  padding: 50px 0;
  display: grid;
  grid-template-columns: 280px 280px 280px;
  justify-content: space-between;
}

.conven h2 {
  font-size: 20px;
  max-width: 232px;
  height: 24px;
  margin-top: 10px;
}

.conven p {
  max-width: 280px;
  height: 68px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #a29f9d;
  padding: 10px 0;
}

.row {
  display: flex;
  justify-content: space-around;
}

.lang {
  max-width: 280px;
  height: 264px;
  margin-bottom: 48px;
}

.lang img {
  padding-bottom: 24px;
}

.list {
  display: grid;
  justify-content: space-around;
  grid-template-columns: 376px 376px 376px;
}
.common {
  max-width: 376px;
  height: 160px;
  margin-top: 48px;
  display: flex;
}

.texts {
  max-width: 232px;
  height: 136px;
  margin-top: 24px;
  margin-left: 24px;
}

.texts h2 {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  width: 140px;
}

.also {
  width: 115px;
  height: 44px;
  border-radius: 16px;
  background-color: #292929;
  color: #fff;
  position: relative;
  top: -70px;
  border: none;
  outline: none;
  opacity: 0;
  transition: 1s;
}


.texts .comontxt {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #a29f9d;
  max-width: 200px;
  height: 64px;
  margin-top: 16px;
}

.common:hover .comontxt {
  opacity: 0;
}
.common:hover .also{
  opacity: 1;
}

.these {
  display: flex;
  justify-content: center;
  padding: 48px 0;
}
.see {
  max-width: 196px;
  height: 56px;
  padding: 16px 32px;
  border-radius: 16px;
  border: none;
  outline: none;
  font-size: 16px;
  width: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.see:hover {
  background-color: #292929;
  color: #fff;
}

.course {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 48px 0;
}

.mode {
  display: flex;
}

.forum {
  padding: 16px 12px;
  font-size: 24px;
  font-weight: 600;
}

.type1 {
  width: 272px;
  height: 540px;
  border-radius: 48px;
  background-color: #ffedd4;
  position: relative;
}
.type2 {
  width: 272px;
  height: 540px;
  border-radius: 48px;
  background-color: #dededd;
}
.type3 {
  width: 272px;
  height: 540px;
  border-radius: 48px;
  background-color: #fff1bf;
}

.type4 {
  width: 272px;
  height: 540px;
  border-radius: 48px;
  background-color: #d2f5ff;
}

.pics {
  border-radius: 50%;
  background-color: #fff;
  width: 64px;
  height: 64px;
  position: relative;
  margin: 32px 0 0 32px;
}

.pics img {
  padding: 12px;
}

.abouttype {
  width: 164px;
  height: 176px;
  line-height: 30px;
  font-size: 16px;
  font-weight: 400;
  margin-left: 20px;
  margin-top: 20px;
}

.abouttxt ul {
  width: 164px;
  height: 176px;
  margin-left: 30px;
}

.price p {
  width: 155px;
  height: 24px;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.sumunderline p {
  font-size: 24px;
  font-weight: 400;
  color: #707070;
  width: 120px;
  height: 24px;
  margin-top: 8px;
  margin-left: 5px;
}

.realsum {
  display: flex;
  width: 200px;
  height: 40px;
  font-weight: 500;
  font-size: 28px;
}
.realsum h3 {
  min-width: 120px;
}
.realsum p {
  margin-top: 12px;
  margin-left: 5px;
  font-size: 16px;
  width: 40px;
  height: 24px;
  display: flex;
  align-items: flex-end;
}

.guy {
  margin-left: 15px;
  padding: 40px 0;
}
.buy {
  display: flex;
  height: 56px;
  width: 176px;
  padding: 16px 48px;
  border-radius: 16px;
  outline: none;
  font-size: 16px;
  font-weight: 400;
}

.buy:hover {
  background-color: #202224;
  color: #fff;
}

.connectingabout {
  display: flex;
  justify-content: space-between;
  padding-top: 48px;
  padding-bottom: 120px;
}

.office {
  max-width: 590px;
  display: flex;
  gap: 40px;
  padding-bottom: 40px;
}

.street {
  width: 272px;
  height: 80px;
}

.address {
  max-width: 590px;
  margin-top: 48px;
}

.address h3 {
  max-width: 272px;
  height: 48px;
  font-size: 20px;
  margin-top: 12px;
}

.address p {
  font-size: 16px;
  font-weight: 400;
  color: #a29f9d;
}

.map {
  width: 590px;
  height: 320px;
}
.map iframe {
  width: 100%;
  height: 100%;
  border-radius: 48px;
  border: none;
  position: relative;
}

/* responsive */

@media only screen and (max-width: 1024px) {
  .container {
    padding: 0 64px;
  }
  
  .forumabout {
    border-left: 1px solid #a29f9d;
    display: block;
    padding: 0;
  }
 
  .line {
    display: none;

  }
  .transferleft {
    margin: 0;
  }
  .learn {
    margin-bottom: 20px;
    margin-left: 30px;
  }
  .learn h2{
    font-size: 48px;
  }
  
  .man{
    max-width: 390px;
    max-height: 360px;
  }

  .man img {
    width: 100%;
  }

  .infor {
    max-width: 600px;
    margin: 0 auto;
  }
  .aboutitemsinfor {
    justify-content: center;
  }
  .card-one {
    margin: 24px;
  }
  .card-two {
    margin: 24px;
  }
  .card-three {
    margin: 24px;
  }
  .card-four {
    margin: 24px;
  }
  .conven {
    display: grid;
    grid-template-columns:280px 280px 280px;
    justify-content: space-between;
  }
  .list {
    display: grid;
    justify-content: space-between  ;
    grid-template-columns: 376px 376px;
  }

  .discount {
    max-width: 800px;
    margin: 0 auto;
  }

  .course {
    justify-content: center;
  }

  .type1 {
    margin: 24px;
  }
  .type2 {
    margin: 24px;
  }
  .type3 {
    margin: 24px;
  }
  .type4 {
    margin: 24px;
  }

  .these {
    display: flex;
    justify-content: center;
  }
  .connectingabout {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
  }

  .address {
    max-width: 100%;
  }

  .office h3 {
    width: 250px;
  }
}

@media only screen and (max-width: 768px) {
  .right {
    display: none;
  }

  .forumabout {
    display: flex;
    border: none;
  }
  .line {
    width: 0.5px;
    height: 12px;
    margin-top: 10px;
    background-color: #a29f9d;
    display: block;
  }
  .conven {
    display: grid;
    justify-content: space-around;
    grid-template-columns: 280px 280px;
  }
  
  .texts h2 {
    width: 300px;
    padding-bottom: 0;
  }
  .texts .comontxt{
    font-size: 18px;
    line-height: 120%;
  }
  .also {
    display: block;
    width:80px;
    height: 30px;
    font-size: 11px;
    position: relative;
    left: 60px;
  }
  .list{
    width: 350px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
  }

  .connectingabout{
      display: block;
  }
  .address {
    width: 100%;
  }

  .office {
    max-width: 500px;
    margin: auto;
  }

  .map iframe {
    width: 100%;
    margin: auto 0;
  }
}


@media only screen and (max-width: 425px) {
  .forumabout {
    display: none;
    color: red ;
  }

  .basic2 {
    color: red;
  }

  .transferleft {
    display: none;
  }
}